
.owl-pelayanan-birokrasi{
    width: 100%;
    z-index: 1;
    display: flex!important;
    align-items: center;
    margin-bottom: 2rem;
}

.owl-pelayanan-birokrasi.owl-loaded {
    display: block;
}

.owl-pelayanan-birokrasi, .owl-pelayanan-birokrasi .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-pelayanan-birokrasi .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}
.owl-pelayanan-birokrasi .owl-stage{
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
}

.slidepelayanan .owl-nav .owl-prev, .slideshow-listHorizontal .owl-nav .owl-next{
    display: inline-block;
    margin-right: 7px;
    width: 40px;
    height: 40px;
    border: 1px solid #dcdcdc!important;
    line-height: 24px!important;
    text-align: center;
    vertical-align: middle;
    font-size: 7px;
    color: #b7b7b7;
    border-radius: 50%;
    transition: 0.3s;
}
.owl-pelayanan-birokrasi .owl-nav{
    clear: both;
    display: flex;
    position: absolute;
    width: 100%;
}


.owl-pelayanan-birokrasi .owl-nav .owl-prev{
    left: 20px;
    position: absolute;
  }
  .owl-pelayanan-birokrasi .owl-nav .owl-next{
    right: 20px;
    position: absolute;
  }
  .owl-pelayanan-birokrasi .owl-nav button span{
    color: white;
  }





  /* card  */
  *{margin:0px;padding:0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: 'Roboto';}

/* body{background:#F5F5F5;} */

/* --- Card2 ---- */

.Card2{
  position: relative;
  display: inline-block;
  width: 90%;
  height: 250px;
  margin: 1em;
  background-size: cover;
  border-radius: 10px;
  /* box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5); */
  overflow: hidden;
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
}
.Card2.ph1{background: url('//cs622627.vk.me/v622627615/26cdb/sBCCzAw79Cw.jpg') center no-repeat ;background-size: cover;}
.Card2.ph2{background: url('//cs622627.vk.me/v622627615/26ce5/L2xeil9_uqg.jpg') center no-repeat;background-size: cover;}

.Card2 .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 1em;
  top: 0;
  z-index: 10;
  color: #fff;
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
}

.Card2 .overlay h2{
  position: relative;
  margin: 2em 0px;
  top: -200px;
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
}

.Card2 .overlay a{
  position: relative;
  width: 60%;
  top: 200px;
  padding: 0.5em 2em;
  border: 2px solid #fff;
  text-decoration: none;
  color:#FFFFFF;
  border-radius: 3px;
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
}
.Card2 a:hover{background: #fff;color:#5c5c5c;}

.Card2:hover .overlay{background: rgba(92, 92, 92, 0.8);}
.Card2:hover h2{top: 0px;}
.Card2:hover a{top: 0px;}






.birokrasi-container ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

@media (min-width: 1024px){
    .birokrasi-container ul .libiro{
        height: auto;
        border-radius: 4px;
        /* padding: 1rem .5rem .5rem; */
        /* border: 1px solid #eaeaea; */
        margin: 1rem 0;
        flex-basis: calc((100% - 1rem)/ 3);
    }
}
@media (max-width: 1024px){
    .birokrasi-container ul .libiro{
        height: auto;
        border-radius: 4px;
        /* padding: 1rem .5rem .5rem; */
        /* border: 1px solid #eaeaea; */
        margin: 1rem 0;
        flex-basis: calc((100% - 2rem)/ 3);
    }
}
@media (max-width: 879px){
    .birokrasi-container ul .libiro{
        height: auto;
        border-radius: 4px;
        /* padding: 1rem .5rem .5rem; */
        /* border: 1px solid #eaeaea; */
        margin: 1rem 0;
        flex-basis: calc((100% - 4rem)/ 3);
    }
}

@media (max-width: 685px){
    .birokrasi-container ul .libiro{
        height: auto;
        border-radius: 4px;
        margin: 1rem 0;
        flex-basis: calc((100% - 4rem)/ 2);
    }
}

@media (max-width: 500px){
    .birokrasi-container ul .libiro{
        height: auto;
        border-radius: 4px;
        margin: 1rem 0;
        flex-basis: calc((100% - 4rem)/ 1);
    }
}