/*** normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css ***/
html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

/*** HTML5 Boilplate ***/

html {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.6;
  color: #444444;
}

::selection {
  background: #5B52F8;
  color: #FFF;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input, button, textarea {
  outline: none;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

img {
  max-width: 100%;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Styles ***/

/* border-box all the things */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Fix the thick text rendering on OSX */
html,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
  min-height: 100%;
  max-width: 100%;
}

body {
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
  background: #fff;
  color: #0f0a3c;
}

h1,h2,h3,h4,h5 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1.5px;
}

p {
  font-size: 23px;
  margin-bottom: 2rem;
  line-height: 1.4;
  letter-spacing: 1.1px;
}

.content-wrapper, .navbar {
  width: 1145px;
  margin: auto;
  position: relative;
}

@media only screen and (max-width: 1280px) {
  .content-wrapper, .navbar {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .content-wrapper, .navbar {
    width: 90%;
  }
}

.main-header {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}

.navbar-top {
  height: 110px;
  display: flex;
  align-items: center;
}

.navbar-top .logo {
  display: block;
  width: auto;
  position: absolute;
  left: 0;
}
.logo img {
  width: 350px;
}

.navbar-social-links {
  position: absolute;
  right: 0;
}

.navbar-social-links li {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

.navbar-social-links li a {
  font-size: 20px;
}

.bottom-header {
  width: 100%;
  background: #5B52F8;
  background: linear-gradient(90deg, #5B52F8 10%, #185a9d 90%);
  height: 60px;
  z-index: 99;
}

.navbar-bottom .nav-links {
  position: relative;
  left: 0;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar-bottom .nav-links li {
  margin-right: 10px;
  text-transform: uppercase;
  display: inline-block;
  height: 100%;
  color: #fff;
  position: relative;
}

.navbar-bottom .nav-links li a {
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  font-family: 'Lato', sans-serif;
  transition: background .3s cubic-bezier(.165,.84,.44,1);
    -webkit-transition: background .3s cubic-bezier(.165,.84,.44,1);
}

.navbar-bottom .nav-links li:hover > a, .navbar-bottom .nav-links li a.active {
  background: #fff;
  color: #5B52F8;
}


.sub_links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: block;
  background: #5B52F8;
  z-index: 99;
  transition: all .3s cubic-bezier(.165,.84,.44,1);
    -webkit-transition: all .3s cubic-bezier(.165,.84,.44,1);
  visibility: hidden;
  opacity: 0;
  transform: translatey(7px);
}

.sub_links li {
  position: relative;
  display: block !important;
  margin: 0 !important;
}

.sub_links li a {
  padding: 20px !important;
  display: inline-block;
  font-size: 13px;
}

.navbar-bottom .nav-links li:hover > .sub_links {
  visibility: visible;
  opacity: 1;
  transform: translatey(0);
}

.toggler {
  position: absolute;
  top: 0;
  padding-top: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 101;
}

.search-toggle {
  right: 0;
  top: 50%;
  margin-top: -20px;
}

.menu-toggle {
  left: 0;
  top: 50%;
  margin-top: -20px;
  margin-left: -12px;
  display: none;
}

.cancel-btn {
  display: none;
}

.toggler svg {
  width: 40px;
  height: 40px;
  fill: #ccc;
}

.searchbar {
  position: absolute;
  right: 0;
  width: 300px;
  height: 60px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 5px 7px
    rgba(0, 0, 0, 0.05), 0 20px 22px
    rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 10px;
  transition-delay: 1s;
    -webkit-transform: translateY(30px);
  transform: translateY(30px);
  transition: all .2s cubic-bezier(.165,.84,.44,1);
    -webkit-transform: all .2s cubic-bezier(.165,.84,.44,1);
    visibility: hidden;
  opacity: 0;
}

.searchbar input {
  width: 100%;
  height: 100%;
  border: none;
}

.search-open .searchbar {
  -webkit-transform: translateY(0px);
    transform: translateY(0px);
  opacity: 1;
  z-index: 11;
  transition-delay: 0.15s;
  visibility: visible;
  transition: all .2s cubic-bezier(.165,.84,.44,1);
    -webkit-transform: all .2s cubic-bezier(.165,.84,.44,1);
}


@media only screen and (max-width: 786px) {
  .navbar-top .logo {}

  .navbar-bottom .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    display: block;
    background: #fff;
    padding: 1rem;
    padding-top: 50px;
    box-shadow: 0 5px 7px
      rgba(0, 0, 0, 0.05), 0 20px 22px
      rgba(0, 0, 0, 0.05);
    z-index: 0;
    transition-delay: 1s;
      -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    transition: all .2s cubic-bezier(.165,.84,.44,1);
      -webkit-transform: all .2s cubic-bezier(.165,.84,.44,1);
    visibility: hidden;
    opacity: 0;
    overflow-y: hidden;
  }

  .menu-open .nav-links {
    -webkit-transform: translateX(0px);
      transform: translateX(0px);
    opacity: 1;
    z-index: 102;
    transition-delay: 0.15s;
    visibility: visible;
    transition: all .2s cubic-bezier(.165,.84,.44,1);
      -webkit-transform: all .2s cubic-bezier(.165,.84,.44,1);
  }

  .menu-toggle {
    display: inline-block;
    margin-left: 0;
  }
  .cancel-btn {
    display: inline-block;
    top: 5px;
    right: 1rem;
  }
  .searchbar {
    width: 100%;
  }
  .navbar-bottom .nav-links li {
    display: block;
    height: auto;
    margin: 2px 0;
    color: #5B52F8;
    border-radius: 3px;
    overflow: hidden;
  }
  .navbar-bottom .nav-links li a {
    height: 60px;
  }
  .navbar-bottom .nav-links li a:hover, .navbar-bottom .nav-links li a.active {
    background: #5B52F8;
    color: #fff;
  }
  
  .navbar-bottom .nav-links li:hover > .sub_links {
    height: auto;
  }
  .sub_links {
    background: #fafafa;
    visibility: visible;
    opacity: 1;
    width: 100%;
    position: relative;
    top: 0;
    transform: translatey(0);
    height: 0;
  }
  
  .sub_links li {
    display: block;
    padding-left: 420px;
  }

  .search-toggle, .menu-toggle {
    margin-top: 10px;
  }
}

.hero-header {
  margin: 30px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-sec {
  width: 65%;
  height: 400px;
  background: #5B52F8;
  background-image: url(https://abuk.com.ua/img/stick3.png);
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  padding: 2rem;
  box-shadow: 0 12px 18px 2px rgba(34,0,51,.04),0 6px 22px 4px rgba(7,48,114,.12),0 6px 10px -4px rgba(14,13,26,.12);
  display: flex;
  align-items: center;
}

.intro-sec h1 {
  max-width: 90%;
  text-transform: capitalize;
  color: #fff;
  line-height: 1.3;
  font-size: 50px;
}

.home-hiw {
  width: 32%;
  height: 400px;
  padding: 10px 2rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 12px 18px 2px rgba(34,0,51,.04),0 6px 22px 4px rgba(7,48,114,.06),0 6px 10px -4px rgba(14,13,26,.06);
}

.block-list {
  display: block;
  position: relative;
}

.block-list li {
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 65px;
  width: 100%;
}

.block-list li .icon-hldr {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #f3f4f5;
  margin-right: 10px;
  padding: 10px;
}

.block-list li .icon-hldr svg {
  fill: #5B52F8 !important;
}

@media only screen and (max-width: 1024px) {
  .hero-header {
    display: block;
  }
  .intro-sec, .home-hiw {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .intro-sec {
    height: 250px;
    padding: 1rem;
  }
  .intro-sec h1 {
    width: 100% !important;
    font-size: 35px;
    line-height: 1.5;
  }
}

.trending-news-slideVertical{
  position: relative;
  width: 100%;
  display: flex!important;
    align-items: center;
    position: relative;
    transform: translate3d(0px,0px,0px);
    overflow: hidden;
}
.trending-news-slideVertical .owl-nav{
  margin: 0 0 0 auto;
  z-index: 1;
}
.owl-nav{
  position: relative;
  clear: both;
  display: flex;
}
.owl-nav .owl-prev{
  display: inline-block;
  margin-right: 7px;
  width: 25px;
  height: 25px;
  border: 1px solid #dcdcdc!important;
  line-height: 24px!important;
  text-align: center;
  vertical-align: middle;
  font-size: 7px;
  color: #b7b7b7;
}
.owl-nav .owl-next{
  display: inline-block;
    margin-right: 7px;
    width: 25px;
    height: 25px;
    border: 1px solid #dcdcdc!important;
    line-height: 24px!important;
    text-align: center;
    vertical-align: middle;
    font-size: 7px;
    color: #b7b7b7;
}
.td-trending-now-title {
  background-color: #222;
  font-family: Roboto,sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  padding: 2px 10px 1px;
  display: inline-block;
  line-height: 22px;
  transition: background-color .3s ease 0s;
  cursor: default;
  user-select: none;
  white-space: nowrap;
}
.td-trending-now-wrapper{
  display: flex;
  align-items: center;
  position: relative;
  transform: translate3d(0px,0px,0px);
  overflow: hidden;
  padding: 15px 0px;
}

.td-trending-now-display-area {
  display: flex;
  align-items: center;
  vertical-align: top;
  padding: 0 0 0 15px;
}
.kgUHa-D{
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  padding-bottom: 40px;
}
.gkyRKb{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
}
.VvtAP::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 0.6rem;
  height: 24px;
  background: rgb(220, 22, 65);
}
.cJvuwm {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  outline: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.08);
}
.gRorUC {
  height: 1px;
  width: 100%;
  background-color: rgb(238, 238, 238);
}
.exjjVR {
  appearance: none;
  user-select: none;
  font-family: inherit;
  padding: 0px;
  outline: 0px;
  transition: all 0.2s ease 0s;
  position: relative;
  display: inline-block;
  background: none transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  width: auto;
  cursor: pointer;
  opacity: 1;
  vertical-align: middle;
  text-align: center;
  text-decoration: none !important;
}
.drBeOv {
  display: flex;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  align-items: center;
}
.htSlBT {
  display: flex;
  margin-left: 8px;
  -webkit-box-pack: center;
  justify-content: center;
}
.cKFCVl {
  filter: invert(57%) sepia(0%) saturate(61%) hue-rotate(
240deg
) brightness(105%) contrast(97%);
  width: 20px;
  max-width: 20px;
  height: 20px;
}
.jJCycy {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.ekPWUQ {
  -webkit-font-smoothing: antialiased;
  color: rgb(24, 112, 171);
  font-family: Heebo, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.dkOPyg {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: hidden;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-left: 0;
  padding-right: 0;
}
.gBfXnH{
  height: auto;
    /* width: 848px; */
}
.ejgikD {
  height: 470px;
  position: relative;
}
.blRxOX {
  overflow: hidden auto;
  height: 100%;
}
.kLvCSr {
  padding: 16px 10px;
}
.bSbCiV {
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.kcaV {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.hpLohH {
  word-break: break-word;
  overflow-wrap: break-word;
  display: block;
}
.jeegbA {
  -webkit-font-smoothing: antialiased;
  color: rgb(0, 0, 0);
  font-family: Heebo, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}
.dZTDGp {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 6px;
}
.jmNTGy {
  display: flex;
  flex: 1 1 0%;
  margin-top: 12px;
  -webkit-box-align: center;
  align-items: center;
}
.hbSMcY {
  display: flex;
  flex: 1 1 0%;
  -webkit-box-align: center;
  align-items: center;
}
.dqpESP {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  height: 16px;
  -webkit-box-align: center;
  align-items: center;
}
.bChDNn {
  filter: invert(44%) sepia(0%) saturate(0%) hue-rotate(
178deg
) brightness(104%) contrast(81%);
  width: 16px;
  max-width: 16px;
  height: 16px;
}
.cDnjUS {
  cursor: pointer;
}
.jxsxmf {
  padding-left: 16px;
}
.jxacmi {
  background-color: rgb(238, 238, 238);
  float: left;
  border-radius: 6px;
}
.eZCymS {
  padding-bottom: 100%;
  width: 80px;
  height: 0px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.ffynyp {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(246, 248, 252);
  color: rgb(255, 255, 255);
  border-radius: 50%;
}
.iDBAqk {
  display: flex;
  align-items: flex-end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  border-color: rgb(238, 238, 238);
  border-style: solid;
  border-width: 1px;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px 0.1rem;
  width: 16px;
  height: 16px;
  font-size: 10px;
  font-weight: 500;
  border-radius: 50%;
  background: rgb(246, 248, 252);
  position: relative;
  text-align: center;
}
.bomQmO {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
.enSBkx{
  padding-right: 6px;
}
.bHjxWK{
  color: inherit;
    text-decoration: none;
    outline: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.08);
}
.ixPpS{
  display: flex;
  flex-direction: column;
}
.jwxGoF{
  white-space: normal;
    line-height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgb(118, 118, 118);
}
.cnIZYX{
  word-break: break-all !important;
}
.iqORTp{
  -webkit-font-smoothing: antialiased;
    color: rgb(118, 118, 118);
    font-family: Heebo, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.lghqze{
  display: flex;
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    height: 16px;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 4px;
    min-width: 52px;
}
.iVVnGn{
  display: flex;
    padding: 0px;
    border: none;
    height: 16px;
    min-width: 52px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-right: 4px;
}
.exBPjh{
  -webkit-font-smoothing: antialiased;
    color: rgb(118, 118, 118);
    font-family: Heebo, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
.gdMcah {
  display: flex;
  flex: 1 1 0%;
}
.gRorUC {
  height: 1px;
  width: 100%;
  background-color: rgb(238, 238, 238);
}
.blRxOX::-webkit-scrollbar-thumb {
  background: rgb(200, 198, 196);
}
.blRxOX:hover::-webkit-scrollbar-thumb {
  background: rgb(79, 107, 237);
    transition: all 0.2s ease 0s;
}
.blRxOX::-webkit-scrollbar {
  width: 6px;
}
.jLsJGy {
  -webkit-font-smoothing: antialiased;
  color: rgb(0, 0, 0);
  font-family: Heebo, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.slideshow-listHorizontal{
  display: flex!important;
  align-items: center;
}
.slideshow-listHorizontal .owl-nav{
  clear: both;
  display: flex;
  position: absolute;
  width: 100%;
}
.slideshow-listHorizontal .owl-nav .owl-prev,  .slideshow-listHorizontal .owl-nav .owl-next{
  display: inline-block;
  margin-right: 7px;
  width: 40px;
  height: 40px;
  border: 1px solid #dcdcdc!important;
  line-height: 24px!important;
  text-align: center;
  vertical-align: middle;
  font-size: 7px;
  color: #b7b7b7;
  border-radius: 50%;
  transition: 0.3s;
}

.slideshow-listHorizontal .owl-nav .owl-prev{
  left: 20px;
  position: absolute;
}
.slideshow-listHorizontal .owl-nav .owl-next{
  right: 20px;
  position: absolute;
}
.slideshow-listHorizontal .owl-nav button span{
  color: white;
}
.media{
  position: relative;
  overflow: hidden;
  flex: 1;
}
.media__image{
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  background: none;
}
.media__text {
  padding-left: 16px;
  padding-right: 16px;
  flex: 1;
    position: static;
    font-size: 12px;
    color: #666666;
}
.media__title{
  font-size: 23px;
}
.media__date{
  color: #FFFFFF;
}
.headline-terkait{
  font-size: 14px;
    padding: 12px 16px;
    background-color: #185a9d;
}
.headline-terkait__title{
  margin: 0;
  position: relative;
  color: #fcc43f;
}
.headline-terkait__title:after{
  content: " ";
    position: absolute;
    width: 83%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 0.1em;
    margin: 10px 0;
    right: 6px;
}
.headline-terkait .list-content--column{
  margin-top: 0;
}
.headline-terkait a {
  color: #FFFFFF;
  margin: 8px 0;
  display: inline-block;
}
.list-content__item{
  display: flex;
  flex-flow: wrap;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.media__link{
  position: static;
}
.media__link:before{
  position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
}
.headline .media__image {
  background: none;
}
.media--text-overlay .media__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15% 12px 12px;
  z-index: 3;
  color: #FFFFFF;
  background: #000000;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start_color', endColorstr='$end_color',GradientType=1 );
}
.headline .media__text {
  padding: 0 16px 16px;
}
.headline .media--text-overlay .media__text{
  padding-left: 16px;
  padding-right: 16px;
}
.grid-row {
  display: flex;
  flex-wrap: wrap;
}
.list-content__title {
  margin: 0;
  font-size: 14px;
}
.column {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 13px;
}

.media:hover .media__title a{
  color: #fcc43f;
}
.ratiobox--16-9 {
  padding-bottom: 56.25%;
}
.ratiobox {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.lqd, .lqd_img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.block-link:hover .media__image .ratiobox{
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

.slideshow-listHorizontal .owl-nav .owl-next:hover{
  background-color: #4674df;
}

.slideshow-listHorizontal .owl-nav .owl-prev:hover{
  background-color: #4674df;
}



.site-footer
{
  background-color: #185a9d;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffff;
  font-weight:300;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#fff
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.text-justify{
  font-size: 14px;
  font-weight: 300
}
.copyright-text{
  font-size: 14px;
  text-align: left;
  font-weight: 500;
}